/* global */
:root{
    --mainCOLOR:#2196f3;
    --mainCOLOR-alt:#1787e0;
    --trasitioan:0.3s;
    --padnm:100px;
    --padup:100px;
    --backcolor:#ECECEC
}
*{
    -webkit-box-sizing:border-box ;
    -moz-box-sizing:border-box ;
    box-sizing:border-box ;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Cairo', sans-serif;
    text-transform:capitalize;
    caret-color: var(--mainCOLOR);
}
ul{
    list-style:none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
*::placeholder{
    opacity: 1;
    transition: opacity var(--trasitioan);
}
*:focus::placeholder{
    opacity: 0;
}
.main-head{
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    margin:0 auto 80px;
    z-index: 2;
    position: relative;
    transition: var(--trasitioan);
    text-transform: capitalize;
    cursor: default;

}
.main-head h1{
    margin: 0;
}
.main-head:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.main-head:hover::before{
    animation: left-fifty 0.5s linear forwards
}

.main-head:hover::after{
    animation: right-fifty 0.5s linear forwards
}
.main-head::before{
    left: -30px;
}
.main-head::before,
.main-head::after{
    content:"";
    position: absolute;
    height: 15px;
    width: 15px;
    top: 50%;
    transform:translateY(-50%);
    background-color:var(--mainCOLOR);
    border-radius: 50%;
    z-index: -1;
}
.main-head::after{
    right: -30px;
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
.spickes{
    position: relative;
}
.spickes::after{
    position: absolute;
    content: "";
    right: 0;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(135deg, white 25% , transparent 25%),
    linear-gradient(225deg, white 25% , transparent 25%);
    background-size: 50px 50px;
    z-index: 1;
}
.spickes1{
    position: relative;
}
.spickes1::after{
    position: absolute;
    content: "";
    right: 0;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(135deg, var(--backcolor) 25% , transparent 25%),
    linear-gradient(225deg, var(--backcolor) 25% , transparent 25%);
    background-size: 50px 50px;
    z-index: 1;
}
/* end global */
/* <!-- start head --> */
.header{
    background-color: white;
    --webkit-box-shadow:0 0 10px #ddd;
    --moz-box-shadow:0 0 10px #ddd;
    box-shadow:0 0 10px #ddd;
    position: relative;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    position:relative;
}
.header .container #logo{
    color:var(--mainCOLOR);
    font-weight: bold;
    font-size: 26px;
    height: 73.55px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.header .maega-menu{
    display:flex;
    position: absolute;
    left: 0;
    background-color: white;
    top:calc(100% + 50px);
    width: 100%;
    padding: 30px;
    z-index: -1;
    border-bottom: 3px solid var(--mainCOLOR);
    gap: 40px;
    opacity: 0;
    transition: top var(--trasitioan), opacity var(--trasitioan);
}
.header .maega-menu .image img{
    width: 330px;
    max-width: 100%;
}
@media(max-width:991px){
    .header .maega-menu .image img{
        display: none;
    }
}
.header .maega-menu .links{
    min-width: 230px;
    flex: 1;
}
.header .maega-menu .links li{
    position: relative;
}
.header .maega-menu .links li:not(:last-child){
    border-bottom: 1px solid #E9E6E6;

}
.header .maega-menu .links li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    transition: var(--trasitioan);
    z-index: -1;
}
.header .maega-menu .links li:hover::before{
    width: 100%;
}
.header .maega-menu .links li a{
    display: block;
    padding: 15px;
    color: var(--mainCOLOR);
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}
.header .maega-menu .links li a i{
    margin-right: 10px;
}
@media (max-width:767px){
    .header .maega-menu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
@media (max-width:767px){
    .header .maega-menu .links:first-of-type li:last-child{
        border-bottom: 1px solid #E9E6E6;
    }
}
@media (max-width:767px){
    .header .container #logo{
        width: 100%;
        height: 45px;
    }
}
.header .main-nav{
    display: flex;
}
@media (max-width:767px){
    .header .main-nav{
        margin: auto;
    }
}
.header .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73.55px;
    position: relative;
    color: black;
    padding:0 30px;
    transition: var(--trasitioan);
    overflow: hidden;
}
.header .main-nav > li:hover .maega-menu{
    opacity: 1;
    top: calc(100% + 2px);
    z-index: 100;
}
@media (max-width:767px){
    .header .main-nav > li > a{
        padding: 10px;
        font-size: 13px;
        height: 40px;
    }    
}
.header .main-nav > li > a::before{
    content: "";
    background-color: var(--mainCOLOR);
    width: 100%;
    height: 4px;
    position: absolute;
    left:-100%;
    top:0;
    transition: var(--trasitioan);
}
.header .main-nav > li > a:hover{
    color: var(--mainCOLOR);
    background-color: #fafafa;
}
.header .main-nav > li > a:hover::before{
    left: 0;
}
/* <!-- end head --> */
/* <!-- start land --> */
.landing::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--backcolor);
    left: 0;
    top: -40px;
    position: absolute;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .image img{
    position: relative;
    width: 300px;
    animation: up-and-down 5s linear infinite;
}
@media (max-width:991px){
    .landing .image{
        display: none;
    }
}
.landing .text{
    flex:1;
}
@media (max-width:991px){
    .landing .text{
        text-align: center;
    }
}
@media (max-width:767px){
    .landing .text h1{
        font-size: 28px;
    }
}
.landing .text h1{
    font-size:40px;
    letter-spacing: -2px;
    margin: 0;
}
.landing .text p{
    line-height: 1.8;
    color: #666;
    margin: 5px 0 0;
    max-width: 500px;
}
@media (max-width:767px){
    .landing .text p{
        font-size: 18px;
    }
}
@media (max-width:991px){
    .landing .text p{
        margin: 10px auto;
    }
}
.landing .container{
    display:flex;
    align-items:center;
    height: calc(100vh - 73.54px);
    padding-bottom: 120px;
}
.landing .go-dowm{
    color: var(--mainCOLOR);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--trasitioan);
}
.landing .go-dowm:hover{
    color: var(--mainCOLOR-alt);
}
.landing .go-dowm i{
    animation: zerro 1.5s infinite;
}
/* <!-- end land --> */
/* <!-- start articles --> */
.articles{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    position: relative;
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 40px;
}
.articles .container .box{
    box-shadow: 0 2px 15px 0px rgb(0 0 0 / 10%);
    transition: transform var(--trasitioan), box-shadow var(--trasitioan);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}
.articles .container .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 20%)
}
@media (max-width:991px){
    .articles .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
        gap: 40px;
    }
}
.articles .container .box img{
    width: 100%;
    max-width: 100%;
} 
.articles .container .box .content{
    padding: 20px;
}
.articles .container .box .content h3{
    margin: 0;
    text-transform:capitalize;
}
.articles .container .box .content p{
    color: #777;
    line-height:1.6;
    margin: 10px 0 0;
}
.articles .container .box .info{
    padding: 20px;
    border-top:1px solid #E6E6E7;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.articles .container .box .info a{
    color: var(--mainCOLOR);
    text-transform: capitalize;
    font-weight: bold;
}
.articles .container .box .info i{
    cursor: pointer;
    color: var(--mainCOLOR);
}
.articles .container .box:hover i{
    transition: var(--trasitioan);
    animation: icol 0.7s linear infinite;
}
/* <!-- end articles --> */
/* <!-- start Gallary --> */
.gallery{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    position: relative;
    background-color:var(--backcolor);
}
.gallery .container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px ,1fr));
    gap:40px;
}
.gallery .container .box{
    padding: 15px;
    background-color: #ffffff3b;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
    0 2px 4px 0 rgb(0 0 0 / 14%);
    overflow: hidden;
}
.gallery .container .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .container .box .image::before{
    content:"";
    background-color: rgb(255 255 255 / .2);
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.gallery .container .box .image:hover::before{
    animation: flash 0.5s;
}
.gallery .container .box .image:hover img{
    transform: scale(1.1) rotate(5deg);
}
.gallery .box .image img{
    transition: var(--trasitioan);
    max-width: 100%;
}
/* <!-- end Gallary --> */
/* <!-- start features--> */
.features{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    position: relative;
    background-color: white;
}
.features .container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px ,1fr));
    gap:40px;
}
.features .container .box{
    text-align: center;
    border: 1px solid #CCC;
}
.features .container .box .image-feat{
    position: relative;
    overflow: hidden;
}
.features .container .box .image-feat img{
    max-width:100% ;
}
.features .container .box .image-feat::before{
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: -1px;
    position: absolute;
}
.features .container .box .image-feat::after{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--trasitioan);
}
.features .container .box .image-feat:hover::after{
    border-width: 0  500px 170px 0;
    border-color: transparent transparent white transparent;

}
.features .container .box .image-feat .sola{
    max-width:100% ;
}
.features .container .box h2{
    position: relative;
    width: fit-content;
    margin: auto;
    font-size: 40px;
}
.features .container .box h2::before{
    content:'';
    position: absolute;
    left: 15px;
    bottom: -20px;
    height: 5px;
    width: calc(100% - 30px);
}
.features .container .box p{
    line-height: 1.5;
    font-size: 20px;
    margin: 30px 0 ;
    padding: 25px;
    font-weight: bold;
    color: #777;
}
.features .container .box a{
    display: block;
    margin: 0 auto 30px;
    width: fit-content;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 3px solid transparent; 
}
.features .container .quality a {
    color:#f44036;
    border-color:#f44036;
    background: linear-gradient(to right ,#f44036 50% , white 50%);
    background-size: 200% 100%;
    background-position: right top;
    transition: var(--trasitioan);
}
.features .container .box:hover a{
background-position: left top;
color: white;
}
.features .quality h2::before{
    background-color: #f44036;
}
.features .container .quality .image-feat::before{
    background-color: rgb(244 64 54 / 60%);
}
/* ... */
.features .container .time a {
    color:#009688;
    border-color:#009688 ;
    background: linear-gradient(to right ,#009688 50% , white 50%);
    background-size: 200% 100%;
    background-position: right top;
    transition: var(--trasitioan);
}
.features .time h2::before{
    background-color: #009688;
}
.features .container .time .image-feat::before{
    background-color: rgb(0 150 136 / 60%);
}
.features .container .passion a {
    color:#03a9f4;
    border-color:#03a9f4 ;
    background: linear-gradient(to right ,#03a9f4 50% , white 50%);
    background-size: 200% 100%;
    background-position: right top;
    transition: var(--trasitioan);
}
.features .time h2::before{
    background-color: #03a9f4;
}
.features .container .passion .image-feat::before{
    background-color: rgb(3 169 244 / 60%);
}
/* <!-- end features --> */
/* <!-- start testimonials --> */
.testimonials{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    background-color: var(--backcolor);
    position: relative;
}
@media (max-width:767px){
    .main-head{
        font-size: 1rem;
    }
}
.testimonials .box {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
    position: relative;
}
.testimonials .container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px ,1fr));
    gap:40px;
}
.testimonials .box img{
    max-width: 100%;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    right: -10px;
    top: -50px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--backcolor);
    background-color: var(--backcolor);
}
.testimonials .box h3{
    margin: 0 0 10px;
}
.testimonials .box .title{
    color: rgb(102, 98, 98);
    margin-bottom: 0;
    display:block;
}
.testimonials .box .rate .feel{
    color: #FFc107;
}
.testimonials .box p{
    line-height:1.5;
    color: rgb(130, 123, 123);
    margin-bottom: 0;
    margin-top: 10px;
}
/* <!-- end testimonials --> */
/* <!-- start team --> */
.team {
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    position: relative;
}
.team .container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px ,1fr));
    gap:30px;
}
.team .box .data img{
    width:calc(100% - 60px);
    transition: var(--trasitioan);
    border-radius: 10px;
}
.team .box .data img:hover{
    filter:grayscale(100%)
}
.team .box .data{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box {
    position: relative;
}
.team .box::before,
.team .box::after {
    content: "";
    background-color:#f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--trasitioan);
}
.team .box::before{
    width: calc(100% - 60px );
    z-index: -2;
}
.team .box::after{
    z-index:-1;
    background-color:#e4e4e4;
    width: 0;
}
.team .box:hover::after{
    z-index: -1;
    width: calc(100% - 60px);
}
.team .box .data .social{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .social a{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .box .data .social a:hover i{
    color: var(--mainCOLOR);
}
.team .box .data .social a i{
    color: #777;
    transition: var(--trasitioan);
}
.team .box:hover .info h3{
    color: #777;
}
.team .box .info{
    padding-left:80px ;
}
.team .box .info p{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
}
.team .box .info h3{
    color: var(--mainCOLOR);
    font-size: 22px;
    margin-bottom: 0;
    transition: var(--trasitioan);
    text-transform: capitalize;
}

/* <!-- end team --> */
/* <!-- start serv --> */
.services{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    background-color: var(--backcolor);
    position: relative;
}
.services .container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px ,1fr));
    gap:40px;
}
.services .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--trasitioan);
    counter-increment: services;
    position: relative;
}
.services .box::before{
    content:"";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--mainCOLOR);
    transition: var(--trasitioan);
    width: 0;
}
.services .box:hover{
    transform: translateY(-10px);
}
.services .box:hover:before{
    width: 100%;
}
.services .box > i{
    color: #D5D5D5;
    margin: 40px auto 20px;
    display: block;
    text-align: center;
}
.services .box > h3{
    margin:0 auto 45px ;
    color: var(--mainCOLOR);
    text-align: center;
    font-size: 25px;
}
.services .box .info::before{
    content:"0" counter(services);
    position: absolute;
    left: 0;
    top:0;
    font-size: 30px;
    font-weight: bold;
    width: 80px;
    height: 100%;
    background-color: var(--mainCOLOR);
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.services .box .info::after{
    content: "";
    position: absolute;
    left: 65px;
    top: 0;
    width: 50px;
    height: calc(100% + 0.4px);
    background-color: #D5D5D5;
    transform: skewX(-30deg);
}
.services .box .info{
    padding: 15px;
    background-color: #F9F9F9;
    position: relative;
    display: block;
    text-align: right;
}
.services .box .info{
    color:var(--mainCOLOR-alt);
}
/* <!-- end serv --> */
/* <!-- start skills --> */
.skills{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    position: relative;
}
.skills .container{
    display: flex;
    align-items: center;
}
.skills .image img{
    width: 400px;
    max-width: 100%;
}
@media (max-width:991px){
    .skills .image img{
        display: none;
    } 
}
.skills .skil{
    flex:1;
}
.skills .skil h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skil h3 span{
    font-size: 9px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 3px;
    color: var(--mainCOLOR);
}
.skills .skil .thes{
    height: 30px;
    position: relative;
    background-color: #eee;
}
.skills .skil .thes span{
    position: absolute;
    height: 100%;
    background-color: var(--mainCOLOR);
}
/* <!-- end skills --> */
/* <!-- start work --> */
.work{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    position: relative;
    background-color: var(--backcolor);
}
.work .container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
@media (max-width:991px){
    .work .container{
        flex-direction: column;
    }
    .work .info .box {
        flex-direction: column;
        text-align: center;
    }
    .work .info .box i{
        padding: 20px;
    }
}
.work .container .images{
    width: 350px;
    max-width: 100%;
}
.work .info .box {
    background-color: #f6f5f5;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
    border: 2px solid white;
    display:flex;
    align-items:center;
    position: relative;
    z-index:1;
    overflow: hidden;
}
.work .info .box::before{
    content:'';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background-color: #ededed;
    transform: translate(-50% , -50%);
    transition: var(--trasitioan);
    z-index: -1;
}
.work .info .box:hover:before{
    height: 100%;
    width:100%;
}
.work .info .box i{
    font-size: 32px;
    padding-right: 20px;
}
.work .info .box .text h3{
    font-size: 22px;
    margin: 0;
}
.work .info .box .text p{
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}
/* <!-- end work--> */
/* <!-- start events --> */
.events{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    position: relative;
}
.events .container img{
    width: 350px;
    max-width: 100%;
}
@media (max-width:991px){
    .events .container img{
        display: none;
    }
}
.events .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.events .info{
    flex: 1;
}
.events .info .time{
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: center;
    flex-wrap: wrap;
}
@media (max-width:767px){
    .events .info .time {
        gap: 15px;
    }
}
.events .info .time .unite{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: var(--trasitioan);
}
.events .info .time .unite span:first-child{
    color: var(--mainCOLOR);
    font-size: 35px;
    padding: 15px;
    border-bottom:1px solid #ddd ;
    font-weight: bold;
    transition: var(--trasitioan);
}
.events .info .time .unite span:last-child{
    padding: 8px 10px ;
    font-size: 13px;
}
.events .info .time .unite:hover,
.events .info .time .unite:hover span:first-child{
    border-color: var(--mainCOLOR);
}
.events .info .title{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}
.events .info .description{
    text-align: center;
    color: #777;
    line-height: 1.6;
    margin: 10px;
}
.events .container .subscribe{
    width: 100%;
    margin-top: 50px;
}
.events .container .subscribe form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    text-align: center;
    background-color:#f6f5f5;
    display: flex;
    gap: 20px;
    border-radius:50px ;
}
.events .container .subscribe form input[type="email"]{
    outline: none;
    padding: 20px;
    border-radius:50px ;
    border: none;
    caret-color:var(--mainCOLOR);
    flex: 1;
}
.events .container .subscribe form input[type="email"]::placeholder{
    opacity: 1;
    transition: opacity var(--trasitioan);
}
.events .container .subscribe form input[type="email"]:focus::placeholder{
    opacity: 0;
}
.events .container .subscribe form input[type="submit"]{
    border-radius:50px;
    border: none;
    background-color: var(--mainCOLOR);
    color: white;
    padding: 20px;
    cursor:pointer;
    font-weight: bold;
    transition: var(--trasitioan);
}
.events .container .subscribe form input[type="submit"]:hover{
    background-color: var(--mainCOLOR-alt);
}
@media (max-width:767px){
    .events .container .subscribe form{
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
    .events .container .subscribe form input[type="submit"]{
        border-radius: 0;
    }
    .events .container .subscribe form input[type="email"]{
        border-radius: 0;
    }
}
/* <!-- end events--> */
/* <!-- start pricing--> */
.pricing{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    position: relative;
    background-color: var(--backcolor);
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.pricing .container .box{
    background-color: white;
    transition: var(--trasitioan);
    position: relative;
    box-shadow:0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    z-index: 1;
}
.pricing .container .box::after, 
.pricing .container .box::before{
    content:"";
    content: "";
    background: #f9f9f9;
    width:0;
    height: 50%;
    position: absolute;
    z-index: -1;
    transition: var(--trasitioan);
}
.pricing .container .box::before{
    top:0;
    left: 0;
}
.pricing .container .box::after{
    bottom: 0;
    right: 0;
}
.pricing .container .box:hover::after, 
.pricing .container .box:hover::before{
    width: 100%;
}
@media (min-width:1200px){
    .pricing .box.pop{
        top:-20px;
    }
}
.pricing .box.pop .label{
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--mainCOLOR);
    color:white;
    padding:10px 10px 50px 10px;
    right: 30px;
}
.pricing .box.pop .label::before{
    content: "";
    border-color: transparent transparent white transparent;
    position: absolute;
    border-width: 20px;
    border-style: solid;
    bottom: 0;
    right: 0;
    transition: var(--trasitioan);
}
.pricing .box.pop:hover .label::before{
    border-color:transparent transparent #f9f9f9 transparent;
}
.pricing .container .box .title{
    margin: 0 auto 20px;
    text-align: center;
    font-size: 22px;
    padding: 20px;
}
.pricing .container .box .shan{
    font-size: 50px;
    margin-bottom:20px;
    width: 100%;
    text-align: center;
    color: var(--mainCOLOR);
}
.pricing .container .box .price{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}
.pricing .container .box .price .amount{
    color: var(--mainCOLOR);
    font-size: 50px;
    font-weight: bold;
}
.pricing .container .box .price .time{
    color: #777;
    font-size: 10px;
}
.pricing .container .box ul li{
    padding:20px;
    border-top: 1px solid #eee;
}
.pricing .box ul li::before{
    font-family:"Font Awesome 5 Free";
    content:"\f00c";
    font-weight: 900;
    margin: 10px;
    color: var(--mainCOLOR);
}
.pricing .box a{
    display: block;
    border: 2px solid var(--mainCOLOR);
    width: fit-content;
    margin: 30px auto 40px;
    padding: 15px 20px;
    color: var(--mainCOLOR);
    border-radius: 10px;
    transition: var(--trasitioan);
}
.pricing .box:hover a{
    border-color: var(--mainCOLOR-alt);
    background-color: var(--mainCOLOR-alt);
    color: white;
}
/* <!-- end pricing--> */
/* <!-- start videos --> */
.videos{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
}

.videos .container .holder{
    display: flex;
    justify-content: center;
    background-color: var(--backcolor);
    border: 1px solid #ddd;
}
.videos .container .holder .list{
    min-width: 300px;
    background-color: white;
}
.videos .container .holder .list .name{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    color: var(--mainCOLOR);
    font-weight: bold;
}
@media (max-width:991px){
    .videos .container .holder{
        flex-direction: column;
    }
}
.videos .container .holder .list ul li{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-top: 1px solid var(--backcolor);
    transition: var(--trasitioan);
}
.videos .container .holder .list ul li:hover{
    background-color:#f4f4f4 ;
    color: var(--mainCOLOR);
    font-weight: bold;
}
.videos .container .holder .list ul li span{
    padding: 6px 0 0;
    color: #777;
}
.videos .container .holder .preview{
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos .container .holder .preview img {
    max-width: 100%;
}
.videos .container .holder .preview .info{
    margin: 10px;
    padding: 20px;
    background-color: white;
    font-weight: bold;
}
@media (max-width:991px){
    .videos .holder{
        flex-direction: column;
    }
}
/* <!-- end videos--> */
/* <!-- start stats --> */
.stats{
    padding-top: var(--padup);
    padding-bottom: var(--padnm);
    position: relative;
    background-image: url("../images/msll.webp");
    background-size: cover;
    min-height:300px ;
}
.stats::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 89%);
}
.stats h2{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
.stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .container .box{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.8;
    transition: var(--trasitioan);
    padding: 30px 15px;
    position: relative;
}
.stats .container .box:hover{
    opacity: 1;
}
.stats .container .box::before,
.stats .container .box::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color:var(--mainCOLOR);
    transition: 1s ease;
}
.stats .container .box::before{
    top: 0;
    left: 0;
}
.stats .container .box::after{
    bottom: 0;
    right: 0;
}
.stats .container .box:hover::before,
.stats .container .box:hover::after{
    height: 100%;
}
.stats .container .box span.num{
    font-size: 50px;
    font-weight: bold;
    margin: 10px auto 5px;
}
.stats .container .box i{
    font-size: 30px;
    font-weight: bold;
}
.stats .container .box span.text{
    font-size: 20px;
    color: var(--mainCOLOR);
    font-weight: bold;
}
/* <!-- end stats--> */
/* <!-- start descount -->  */
.discount {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    padding-bottom: 10px;;
}
.discount .content{
    text-align: center;
    padding:0 20px;
}
.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p{
    line-height: 1.6;
    max-width:500px ;
    font-size: 18px;
}
.discount .image{
    background-image: url("../images/dfeed.jpg");
    background-size: cover;
    color: white;
    flex-basis:50%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: back 10s linear infinite;
}
.discount .image::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
.discount .image img {
    width: 300px;
    max-width: 100%;
}
.discount .form {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}
@media (max-width:991px){
    .discount .image{
        flex-basis:100% ;
    }
    .discount .form{
        flex-basis:100% ;
    }

}
.discount .form input[type="submit"] {
    display: block;
    padding: 15px;
    border: none;
    background-color: var(--mainCOLOR);
    color: white;
    width: 100%;
    cursor:pointer;
    font-size: 22px;
    transition: var(--trasitioan);
}
.discount .form input[type="submit"]:hover{
    background-color: var(--mainCOLOR-alt);
}
.discount .form .input {
    display: block;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    outline: none;
}
.discount .form textarea.input {
    resize: none;
    height: 200px;
}
/* <!-- end descount -->  */
/* <!-- start foot--> */
.foot{
    background-color: #191919;
    padding: 70px 0 0;
}
.foot .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 40px;
}
.foot .container .box h3{
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.foot .container .box .social{
    display: flex;
}
.foot .container .box .social li {
    margin-right: 10px;
}
.foot .container .box .social li a{
    background-color: #313131;
    color: #898989;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    width: 50px;
    transition: var(--trasitioan);
}
.foot .container .box .social .facebook:hover{
    background-color: #1877f2;
    color: white;
}
.foot .container .box .social .twitter:hover{
    background-color: #1da2f2;
    color: white;
}
.foot .container .box .social .youtube:hover{
    background-color: #ff0000;
    color: white;
}
.foot .container .box .text{
    line-height: 2;
    color: #b9b9b9;
}
.foot .container .box .links li{
    padding: 15px 0;
    transition: var(--trasitioan);
}
.foot .container .box .links li a::before{
    font-family:"font awesome 5 free";
    content: "\f101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--mainCOLOR);
}
.foot .container .box .links li a{
    color: #b9b9b9;
    transition: var(--trasitioan);
}
.foot .container .box .links li:not(:last-child){
    border-bottom: 1px solid #444;
}
.foot .container .box .links li:hover{
    padding-left: 10px;
}
.foot .container .box .links li:hover a{
    color: white;
}
.foot .container .box.foot-gallery img{
    max-width: 100%;
}
.foot .container .box .line{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #898989;
}
.foot .container .box .line .info span{
    display: block;
}
.foot .container .box .line i{
    margin-right: 15px;
    font-size: 25px;
    color: var(--mainCOLOR);
}
.foot .container .box .line .info{
     flex: 1;
     line-height: 1.7;
}
.foot .container .box.footer-gallery img{
    width: 78px;
    margin: 2px;
    border: 4px solid white;
}
.foot .copyright{
    padding: 25px 0;
    color: white;
    text-align: center;
    margin: 50px 0 0;
    border-top:1px solid #444;
}
@media (max-width:767px){
    .foot{
        text-align: center;
    }
    .foot .container .box .social {
        justify-content: center;
    }
    .foot .container .box .text {
        padding: 4px;
    }
    .foot .container .box .line {
        flex-direction: column;
        gap: 10px;
    }
}
/* <!-- end foot -->  */
/* <!-- start animaition --> */
@keyframes up-and-down{
    0%,
    100%{
        top:0
    }
    50%{
        top:-40px;
    }
}
@keyframes zerro{
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        transform:translateY(0)
    }
    40%,
    60%{
        transform:translateY(-10px)

    }
}
@keyframes left-fifty{
    50%{
        left:0;
        width: 15px;
        height: 15px;
    }
    100%{
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
@keyframes right-fifty{
    50%{
        right:0;
        width: 15px;
        height: 15px;
    }
    100%{
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
@keyframes icol {
    100%{
        transform: translateX(-10px);
    }
}
@keyframes flash{
    40%{
        opacity: 1;
    }
    100%{
        opacity:0 ;
        width: 200%;
        height: 200%;
    }
}
@keyframes back {
    0%,
    100%{
        background-image: url("../images/dfeed.jpg");
    }
    50%{
        background-image: url("../images/dfeeed.jpg");
    }
}


/* <!-- end animition --> */